body{
    background-color: lightgrey;
    font-family: sans-serif;

}


.myname{
font-family: sans-serif;
text-align: center;
}

.aboutme{
    text-align: center;
    font-family: sans-serif;
}

.myskills{
    border-right: solid 4px black; 
    border-left: solid 4px black ; 
    align-items: start;
    width: 180px;
    margin-left: 6px;
    padding-left:10px;
    
    
    

}

.kontaktamig{
    text-align: center;
    border: solid 3px;
    background-color: black;
    border-radius: 5px;
    color: white;
}

.button-link{
    background-color:  black;
    color: white;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;

}

.button-link:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}